*,
*::before,
*::after {
  /* border: solid black 1px; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px; /* 1rem = 16px */
}

body {
  font-family: Arial, sans-serif;
  padding: 1.25rem;
}

.movie-card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 0.94rem;
  width: 100%; /* Makes cards fill grid columns */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(12.5rem, 1fr)
  ); /* 200px min, equal columns */
  gap: 1.25rem; /* 20px */
  padding: 1rem 0;
}

@media (min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
