*,
*::before,
*::after {
  /* border: solid black 1px; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px; /* 1rem = 16px */
}

body {
  font-family: Arial, sans-serif;
  padding: 1.25rem;
}

.movie-card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 0.94rem;
  margin: 0.63rem;
  max-width: 12.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
